<section class="section-wrap">
    <div class="container">
        <div class="row">
            <div class="container-fluid ">
                <div class="col-sm-6 forms-container">
                    <div class="forms-container-heading">
                        <h3><i class="fa fa-user" aria-hidden="true"></i> Personal</h3>
                    </div>
                    <!-- view Profile -->
                    <div class="form-box-pad profile-minheight" *ngIf="!isUserDataEdit">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Firstname"><b>Firstname:</b></label>
                                    <p>{{user.Firstname}}</p>

                                    <label for="Lastname"><b>Lastname:</b></label>
                                    <p>{{user.Lastname}}</p>

                                    <label for="email"><b>Email address:</b></label>
                                    <p>{{user.Email_Address}}</p>
                                </div>
                                <div class="col-md-6">
                                    <label for="username"><b>Photo:</b></label>
                                    <p *ngIf="!user.image">
                                        <img src="assets/img/Photos/noImage.png" height="160" width="140" alt="">
                                    </p>
                                    <p *ngIf="user.image">
                                        <img src="{{user.image}}" height="160" width="140" alt="">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="username"><b>Street Address:</b></label>
                                    <p>{{user.Address_street}}</p>
                                </div>
                                <!--<div class="col-md-12">
                  <label for="username"><b>Land Mark:</b></label>
                  <p class="">{{user.Address_Unit}}</p>
                </div>-->
                                <div class="col-md-6">
                                    <label for="username"><b>city/state:</b></label>
                                    <p>{{user.City}}/{{user.State}}</p>
                                </div>
                                <div class="col-md-6">
                                    <label for="username"><b>Zip code:</b></label>
                                    <p>{{user.Zip_Code}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Phone1"><b>Cell Phone:</b></label>
                                    <p>{{user.Phone1}}</p>
                                </div>
                                <div class="col-md-6">
                                    <label for="Phone2"><b>Secondary Phone:</b></label>
                                    <p>{{user.Phone2}}</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="container-fluid">
                                <div class="row edit-profile-button">
                                    <a class="btn btn-inv btn-md btn-stroke pull-right" (click)="editUserData()"><span>Edit Profile</span></a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- edit profile -->
                    <div class="form-box-pad" *ngIf="isUserDataEdit">
                        <p>Please edit you profile and save changes.</p>
                        <form name="updateJobseekerPersonal" #updateJobseekerPersonal='ngForm' novalidate>
                            <div class="row">
                                <div class="col-lg-6">

                                    <label for="User_Firstname">First Name
                                    <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <input type="text" class="input-text" placeholder [(ngModel)]="user.Firstname" value="" name="Firstname" id="User_Firstname" #Firstname='ngModel' required>
                                    <div *ngIf="Firstname.errors && (Firstname.dirty || Firstname.touched)" class="error">
                                        <div [hidden]="!Firstname.errors.required">Please Enter Firstname</div>
                                    </div>

                                    <label for="User_Lastname">Last Name
                                    <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <input type="text" class="input-text" placeholder [(ngModel)]="user.Lastname" value="" name="Lastname" id="User_Lastname" #Lastname='ngModel' required>
                                    <div *ngIf="Lastname.errors && (Lastname.dirty || Lastname.touched)" class="error">
                                        <div [hidden]="!Lastname.errors.required">Please Enter Lastname</div>
                                    </div>

                                    <label for="User_Email_Address">Email
                                    <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <input type="email" class="input-text" placeholder [(ngModel)]="user.Email_Address" value="" name="Email_Address" id="User_Email_Address" #Email_Address="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" readonly required>
                                    <div *ngIf="Email_Address.errors && (Email_Address.dirty || Email_Address.touched)" class="error">
                                        <div [hidden]="!Email_Address.errors.required">Please Enter Email-Id</div>
                                        <div [hidden]="!Email_Address.errors.pattern">Please Enter proper email-Id</div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <!--<input type="file" (change)="changeListener($event)" />-->
                                    <input type="file" id="files" class="hidden" (change)="changeListener($event)" />
                                    <label for="files" class="file">Upload Image</label>
                                    <img class="preview_image" src="{{user.image}}" height="220" width="160" *ngIf="newImageUploaded">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="address" name="address" [options]='options' (setAddress)="getAddress($event)" (street_number)='street_number=$event' (street)='street=$event' (city)='city=$event' (state)='state=$event' (district)='district=$event' (country)='country=$event'
                                        (postal_code)='postal_code=$event' (lat)='lat=$event' (lng)='lng=$event' (adr_address)='adr_address=$event' (name)='name=$event' (place_id)='place_id=$event' (types)='types=$event' (url)='url=$event' (utc_offset)='utc_offset=$event'
                                        (vicinity)='vicinity=$event' (photos)='photos=$event' (airport)='airport=$event' (CountryCodes)='CountryCodes=$event' id="autocomplete" ng2-google-place-autocomplete/>
                                </div>
                                <div class="col-md-12">
                                    <label for="User_Address_street">Address
                                        <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <input type="text" class="input-text" placeholder="Street address" [(ngModel)]="user.Address_street" value="" name="Address_street" id="User_Address_street" #Address_street='ngModel' required>
                                    <div *ngIf="Address_street.errors && (Address_street.dirty || Address_street.touched)" class="error">
                                        <div [hidden]="!Address_street.errors.required">This field is required</div>
                                    </div>

                                    <input type="text" class="input-text" placeholder="Apartment, suite, unit etc. (optional)" [(ngModel)]="user.Address_Unit" value="" name="Address_Unit" id="User_Address_Unit">
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="input-text" placeholder="Town / City" [(ngModel)]="user.City" value="" name="City" id="USer+City" #City='ngModel' required>
                                    <div *ngIf="City.errors && (City.dirty || City.touched)" class="error">
                                        <div [hidden]="!City.errors.required">This field is required</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <select name="User_State" [(ngModel)]="user.State" id="User_State" class="country_to_state country_select" title="State *" #State='ngModel' required>
                                        <option value="" disabled selected>State</option>
                                        <option *ngFor="let state of statesList" [attr.value]="state.key">{{state.name}}</option>
                                    </select>
                                    <div *ngIf="State.errors && (State.dirty || State.touched)" class="error">
                                        <div [hidden]="!State.errors.required">This field is required</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="input-text" placeholder="Zip Code" [(ngModel)]="user.Zip_Code" name="Zip_Code" id="User_Zip_Code" #Zip_Code='ngModel' required>
                                    <div *ngIf="Zip_Code.errors && (Zip_Code.dirty || Zip_Code.touched)" class="error">
                                        <div [hidden]="!Zip_Code.errors.required">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="User_Phone1">Cell Phone
                                        <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <input type="text" class="input-text" placeholder [textMask]="{mask: mask}" (change)="converToNumber()" [(ngModel)]="user.Phone1" name="Phone1" #Phone1='ngModel' required [disabled]="!showVerify">
                                    <div *ngIf="Phone1.errors && (Phone1.dirty || Phone1.touched)" class="error">
                                        <div [hidden]="!Phone1.errors.required">This field is required</div>
                                        <div [hidden]="!Phone1.errors.minlength">Enter a valid phone number of 10 digits </div>
                                    </div>
                                    <div *ngIf="specialChar" class="error">Special chacters are not allowed</div>
                                </div>
                                <div class="col-lg-6 optSection" *ngIf="!showOtpInput">
                                    <button class="btn btn-inv btn-md btn-stroke" (click)="sendOtp()" [disabled]="user.Phone1 === undefined" *ngIf="showVerify"><span>Verify number</span></button>
                                    <button class="btn btn-md btn-dark" *ngIf="!showVerify" (click)="editNumber()"><span >Edit number</span></button>
                                </div>
                                <div class="col-lg-8 optSection" *ngIf="showOtpInput">
                                    <div class="col-lg-6">
                                        <input class="optInput" type="number" name="otp" min="0" maxlength="4" placeholder="OTP received" [(ngModel)]="otp" minlength="4" required>
                                        <a (click)="sendOtp()">Resend OTP</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn btn-inv btn-md btn-stroke" (click)="verifyOtp()"><span>Submit</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="User_Phone2">Secondary Phone
                                     </label>
                                    <input type="text" class="input-text" placeholder [(ngModel)]="user.Phone2" value="" name="Phone2" id="User_Phone2">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <a class="btn btn-inv btn-md btn-stroke pull-left" (click)="cancelUpdate()"><span>Cancel</span></a>
                                    <button class="btn btn-md btn-dark pull-right" [disabled]="!updateJobseekerPersonal.form || specialChar" (click)="updateUserData()"><span>Update  Info</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-6 forms-container ">
                    <div class="forms-container-heading">
                        <h3><i class="fa fa-briefcase" aria-hidden="true"></i> Work</h3>
                    </div>
                    <!-- view work information -->
                    <div class="form-box-pad profile-minheight" *ngIf="!isWorkDataEdit">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="Position"><b>Position :</b></label>
                                    <p>{{user.Position?.Position_Name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="Experience"><b>Experience (yrs):</b></label>
                                    <p>{{user.Experience}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label for="Travel_Distance"><b>Distance Willing to travel:</b></label>
                                    <p>{{user.Travel_Distance}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label for="Hourly_Pay"><b>Hourly Pay:</b></label>
                                    <p>{{user.Hourly_Pay}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="username"><b>Dental School / <i>Graduated Year</i></b></label>
                                    <p>{{user.Dental_School}}/{{user.Year_Graduated}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="username"><b>Licence Number:</b></label>
                                    <p>{{user.License_Nr}}</p>
                                </div>
                                <div class="col-md-6">
                                    <label for="username"><b>Languages:</b></label>
                                    <p>{{user.Languages}}</p>
                                </div>
                            </div>

                            <div class="container-fluid ">
                                <div class="row workinfo-paddingTop">
                                    <a class="btn btn-md btn-dark pull-right" (click)="editWorkData()"><span>Update Work Info</span></a>
                                </div>
                            </div>

                        </form>
                    </div>

                    <!-- edit work information -->
                    <div class="form-box-pad profile-minheight" *ngIf="isWorkDataEdit">
                        <form name="updateJobseekerWork" #updateJobseekerWork='ngForm' novalidate>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label for="User_Position">Position
                  <abbr class="required" title="required">*</abbr>
                  </label>
                                    <select name="PositionId" [(ngModel)]="user.PositionId" id="Position" class="country_to_state country_select" title="Position *" (ngModelChange)="onChange($event)" #Position='ngModel' required>
                    <option value="" disabled selected>select</option>
                    <option *ngFor="let position of positionList" [attr.value]="position._id">{{position.Position_Name}}</option>
                  </select>
                                    <div *ngIf="Position.errors && (Position.dirty || Position.touched)" class="error">
                                        <div [hidden]="!Position.errors.required">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="user_Practice_Phone">Practice Phone
                  <!-- <abbr class="required" title="required">*</abbr> -->
                  </label>
                                    <input type="number" class="input-text" placeholder [(ngModel)]="user.Practice_Phone" value name="Practice_Phone" id="user_Practice_Phone" pattern="[0-9]{10}" #Practice_Phone='ngModel'>
                                    <div *ngIf="Practice_Phone.errors && (Practice_Phone.dirty || Practice_Phone.touched)" class="error">
                                        <div [hidden]="!Practice_Phone.errors.pattern">Enter valid mobile number</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="User_Speciality">Speciality
                  </label>
                                    <select name="Speciality" [(ngModel)]="user.Speciality" id="Speciality" class="country_to_state country_select" title="Speciality *">
                                        <option value="" disabled selected>select</option>
                                        <option *ngFor="let speciality of specialityList" [attr.value]="speciality.name">{{speciality.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="UserExperiences">Experience
                                    <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <input type="number" class="input-text" [(ngModel)]="user.Experience" placeholder="Experience" value name="Experience" id="UserExperience" min="0" #Experience='ngModel' required>

                                    <div *ngIf="Experience.errors && (Experience.dirty || Experience.touched)" class="error">
                                        <div [hidden]="!Experience.errors.required">This field is required</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="UserHourly_Pay">Hourly Pay
                                    <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <input type="number" class="input-text" placeholder="Hourly Pay" [(ngModel)]="user.Hourly_Pay" value name="Hourly_Pay" id="UserHourly_Pay" min="0" #Hourly_Pay='ngModel' required>

                                    <div *ngIf="Hourly_Pay.errors && (Hourly_Pay.dirty || Hourly_Pay.touched)" class="error">
                                        <div [hidden]="!Hourly_Pay.errors.required">This field is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="User_Languages">Languages
                                    <!--<abbr class="required" title="required">*</abbr>-->
                                    </label>
                                    <!--<select name="Languages" id="Languages" [(ngModel)]="user.Languages" class="country_to_state country_select" title="Languages *">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let language of languagesList" [attr.value]="language.name"><span><input type="checkbox"></span>{{language.name}}</option>
                                    </select>-->
                                    <ss-multiselect-dropdown [options]="languagesList" name="languages" class="language" [(ngModel)]="user.Languages" (ngModelChange)="onLanguageChange($event)"></ss-multiselect-dropdown>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="User_Dental_School">Dental School
                  <!-- <abbr class="required" title="required">*</abbr> -->
                  </label>
                                    <input type="text" class="input-text" placeholder [(ngModel)]="user.Dental_School" value name="Dental_School" id="User_Dental_School">
                                </div>
                                <div class="col-lg-6">
                                    <label for="User_Year_Graduated">Year Graduated
                  <!--<abbr class="required" title="required">*</abbr>-->
                  </label>
                                    <select name="Year_Graduated" id="Year_Graduated" [(ngModel)]="user.Year_Graduated" class="country_to_state country_select" title="Year Graduated *">
                    <option value="" disabled selected>Year</option>
                    <option *ngFor="let year of yearsList" [attr.value]="year.year">{{year.year}}</option>
                  </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="User_License_Nr">License Number
                   <abbr *ngIf = "licenseRequired" class="required" title="required">*</abbr> 
                  </label>
                                    <input type="text" class="input-text" [(ngModel)]="user.License_Nr" placeholder value name="License_Nr" id="User_License_Nr" #License_Nr='ngModel' [required]="licenseRequired">
                                    <div *ngIf="License_Nr.errors && (License_Nr.dirty || License_Nr.touched)" class="error">
                                        <div [hidden]="!License_Nr.errors.required">This field is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="User_Travel_Distance">Distance Willing to travel
                  <abbr class="required" title="required">*</abbr>
                  </label>
                                    <input type="number" class="input-text" [(ngModel)]="user.Travel_Distance" placeholder value name="Travel_Distance" id="User_Travel_Distance" min="0" #Travel_Distance='ngModel' required>

                                    <div *ngIf="Travel_Distance.errors && (Travel_Distance.dirty || Travel_Distance.touched)" class="error">
                                        <div [hidden]="!Travel_Distance.errors.required">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row edit-work-button">
                                    <a class="btn btn-inv btn-md btn-stroke pull-left" (click)="cancelWorkUpdate()"><span>Cancel</span></a>
                                    <button class="btn btn-md btn-dark pull-right" [disabled]="!updateJobseekerWork.form.valid" (click)="updateWorkData(user)"><span>Update Info</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>