<!-- Cart -->
<section class="section-wrap shopping-cart">
  <div class="container relative">
    <div class="row">
      <h2 class="heading relative uppercase bottom-line full-grey mb-30">Prior Job Offers</h2>
      <div class="col-md-12">
        <div class="table-wrap mb-30">
          <table class="shop_table job_offers_table cart table">
            <thead>
              <tr>
                <!-- <th class="product-name" colspan="2">Position Id</th> -->
                <th class="product-price">Dental Speciality</th>
                <th class="product-quantity">Status</th>
                <th class="product-subtotal">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cart_item" *ngFor="let offer of offers">
                <td class="product-price">
                  <span class="amount">{{offer.position}}</span>
                </td>
                <td class="product-quantity">
                  <div class="quantity buttons_added">
                    {{offer.Status}}
                  </div>
                </td>
                <td class="product-subtotal">
                  <span class="amount">{{offer.Date_Submitted | date: 'dd/MM/yyyy'}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end cart -->