			<!-- 404 -->
<section class="section-wrap">
  <div class="container">
    <div class="row">
      <div class="container-fluid ">
        <div class="col-sm-6 forms-container">
          <h3>Personal</h3>
          <div class="form-box-pad">
            <form>
              <div class="row">
                <div class="col-md-6">
                    <label for="username"><b>Username:</b></label>
                    <p>Akona</p>
                </div>
                <div class="col-md-6">
                    <label for="username"><b>Full Name:</b></label>
                    <p>Ashok Kona</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <label for="username"><b>Street Address:</b></label>
                    <p>Flat no: 403, sravyavatika Appartments</p>
                </div>
                <div class="col-md-12">
                    <label for="username"><b>Land Mark:</b></label>
                    <p class="">Begumpet</p>
                </div>
                <div class="col-md-6">
                    <label for="username"><b>city/state:</b></label>
                    <p>Hyderabad/Talangana</p>
                </div>
                <div class="col-md-6">
                    <label for="username"><b>Zip code:</b></label>
                    <p>500016</p>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-6 forms-container">
          <h3>Work</h3>
          <div class="form-box-pad">
            <form>
                <div class="row">
                  <div class="col-md-12">
                      <label for="username"><b>Practice Name:</b></label>
                      <p>Akona</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <label for="username"><b>Practice Phone:</b></label>
                      <p>92343242</p>
                  </div>
                  <div class="col-md-6">
                      <label for="username"><b>Speciality:</b></label>
                      <p>Web development</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <label for="username"><b>No Of Operations:</b></label>
                      <p>4</p>
                  </div>
                  <div class="col-md-4">
                      <label for="username"><b>No of staff:</b></label>
                      <p>9 members</p>
                  </div>
                  <div class="col-md-4">
                      <label for="username"><b>Languages:</b></label>
                      <p>English, telugu</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <label for="username"><b>Dental School / <i>Graduated Year</i></b></label>
                      <p>K L university / 2017</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="username"><b>Licence Number:</b></label>
                        <p>SD2323D23R</p>
                    </div>
                    <div class="col-md-6">
                        <label for="username"><b>Years in Practice:</b></label>
                        <p>5</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="username"><b>Contact Person:</b></label>
                        <p>brad pit</p>
                    </div>
                    <div class="col-md-6">
                        <label for="username"><b>Contact Phone:</b></label>
                        <p>9232348424</p>
                    </div>
                </div>
              <div class="container-fluid">
                <div class="row">
                  <a href="#" class="btn btn-md btn-dark pull-right"><span>Update</span></a>
                </div>
              </div>

            </form>

          </div>
        </div>




      </div>
    </div>
  </div>
</section>
        <!-- end 404 -->
  
  