<!-- Cart -->
<section class="section-wrap shopping-cart">
    <div class="container relative">
        <div class="row">
            <h2 class="heading relative uppercase bottom-line full-grey mb-30">Transaction History</h2>
            <div class="col-md-12">
                <div class="table-wrap mb-30">
                    <table class="shop_table transaction_table cart table">
                        <thead>
                            <tr>
                                <th class="product-name">Transaction Id</th>
                                <th class="product-price">Position</th>
                                <th class="product-price">Amount</th>
                                <th class="product-price">Hourly Pay</th>
                                <th class="product-quantity">Transcation Status</th>
                                <th class="product-subtotal" colspan="2">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart_item" *ngFor="let transaction of pagedItems">
                                <td class="product-name">
                                    <a>{{transaction._id}}</a>
                                </td>
                                <td class="product-price">
                                    <span class="amount" *ngFor="let position of transaction.Offers_id">{{position?.Position_id}}{{","}}</span>
                                    <span class="amount"></span>
                                </td>
                                <td class="product-quantity">
                                    <span class="amount">$ {{transaction.Amount}}</span>
                                </td>
                                <td class="product-quantity">
                                    <span class="amount" *ngFor="let hourlypay of transaction.JS_id">{{hourlypay.Hourly_Pay}}{{","}}</span>
                                </td>
                                <td class="product-quantity">
                                    <span class="amount">{{transaction.Status}}</span>
                                </td>
                                <td class="product-subtotal">
                                    <span class="amount">{{transaction.Date_Submitted | date:'dd/MM/yy'}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- pager -->
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}" class="static-page">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}" class="static-page">
                            <a (click)="setPage(pager.currentPage - 1)">Prev</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="static-page">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="static-page">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>



            </div>
            <!-- end col -->
        </div>
        <!-- end row -->


        <!-- end row -->


    </div>
    <!-- end container -->
</section>
<!-- end cart -->