<!-- Checkout -->
<section class="section-wrap checkout pb-70">
	<div class="container relative">
		<div class="row">

			<div class="ecommerce col-xs-12">

				<div class="row mb-30">
					<div class="col-md-8">
						<p class="ecommerce-info">
							View Profile
							<a href="#" class="showlogin">Click here View your Profile</a>
						</p>
					</div>
				</div>

				<form name="checkout" class="checkout ecommerce-checkout row">

					<div class="col-md-8" id="">
						<div>
							<h2 class="heading uppercase bottom-line full-grey mb-30">Personal Information</h2>
							<div class="row">
								<div class="col-lg-6">
									<label for="billing_first_name">First Name
									<!-- <abbr class="required" title="required">*</abbr> -->
									</label>
									<input type="text" class="input-text" placeholder value name="billing_first_name" id="billing_first_name">
								</div>
								<div class="col-lg-6">
									<label for="billing_last_name">Last Name
									<abbr class="required" title="required">*</abbr>
									</label>
									<input type="text" class="input-text" placeholder value name="billing_last_name" id="billing_last_name">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<label for="billing_first_name">Email Address
									<!-- <abbr class="required" title="required">*</abbr> -->
									</label>
									<input type="email" class="input-text" placeholder value name="billing_first_name" id="billing_first_name">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="billing_address_1">Address
									<abbr class="required" title="required">*</abbr>
									</label>
									<input type="text" class="input-text" placeholder="Street address" value name="billing_address_1" id="billing_address_1">
									<input type="text" class="input-text" placeholder="Apartment, suite, unit etc. (optional)" value name="billing_address_2" id="billing_address_2">
								</div>
								<div class="col-md-4">
									<input type="text" class="input-text" placeholder="Town / City" value name="billing_city" id="billing_city">
									
								</div>
								<div class="col-md-4">
									<select name="billing_country" id="billing_country" class="country_to_state country_select" title="Country *">
										<option value="YE">Select State</option>											
										<option value="YE">Madhya Pradesh</option>
										<option value="ZM">Tamil Nadu</option>
										<option value="ZW">Andhra</option>
									</select>
								</div>
								<div class="col-md-4">
									<input type="text" class="input-text" placeholder="Postcode" value name="billing_postcode" id="billing_postcode">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<label for="billing_first_name">Cell Phone
									<!-- <abbr class="required" title="required">*</abbr> -->
									</label>
									<input type="number" class="input-text" placeholder value name="billing_first_name" id="billing_first_name">
								</div>
								<div class="col-lg-6">
									<label for="billing_last_name">Secondary Phone
									<abbr class="required" title="required">*</abbr>
									</label>
									<input type="number" class="input-text" placeholder value name="billing_last_name" id="billing_last_name">
								</div>
							</div>


							<div class="clear"></div>

						</div>
						<div>
							<h2 class="heading uppercase bottom-line full-grey mb-30">Work Information</h2>

							<div class="row">
								<div class="col-lg-12">
									<label for="billing_last_name">Position
									<abbr class="required" title="required">*</abbr>
									</label>
									<select name="billing_country" id="billing_country" class="country_to_state country_select" title="Country *">
										<option value="YE" *ngFor="let Position of Positions">{{Positions.Position_Id}}</option>
										
									</select>
								</div>

							</div>
							<div class="row">
								<div class="col-lg-6">
									<label for="billing_first_name">License Number
									<!-- <abbr class="required" title="required">*</abbr> -->
									</label>
									<input type="text" class="input-text" placeholder value name="billing_first_name" id="billing_first_name">
								</div>
								<div class="col-lg-6">
									<label for="billing_last_name">Experience (yrs)
									<abbr class="required" title="required">*</abbr>
									</label>
									<select name="billing_country" id="billing_country" class="country_to_state country_select" title="Country *">
										<option value="YE">Select Year</option>
										<option value="ZM">1</option>
										<option value="ZW">2</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<label for="billing_address_1">Hourly Pay
									<abbr class="required" title="required">*</abbr>
									</label>
									<input type="text" class="input-text" placeholder="Street address" value name="billing_address_1" id="billing_address_1">
								</div>
								<div class="col-md-4">
									<label for="billing_address_1">Travel Distance
									<abbr class="required" title="required">*</abbr>
									</label>
									<input type="text" class="input-text" placeholder="Street address" value name="billing_address_1" id="billing_address_1">
								</div>
								<div class="col-lg-4">
									<label for="billing_last_name">Languages
									<abbr class="required" title="required">*</abbr>
									</label>
									<select name="billing_country" id="billing_country" class="country_to_state country_select" title="Country *">
										<option value="YE">Select Language</option>
										<option value="ZM">English</option>
										<option value="ZW">Spanish</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<label for="billing_first_name">Dental School
									<!-- <abbr class="required" title="required">*</abbr> -->
									</label>
									<input type="text" class="input-text" placeholder value name="billing_first_name" id="billing_first_name">
								</div>
								<div class="col-lg-6">
									<label for="billing_last_name">Year Graduated
									<abbr class="required" title="required">*</abbr>
									</label>
									<select name="billing_country" id="billing_country" class="country_to_state country_select" title="Country *">
										<option value="YE">Select Year</option>
										<option value="ZM">2017</option>
										<option value="ZW">2016</option>
									</select>
								</div>
							</div>

						

							<div class="clear"></div>

						</div>


						<div class="clear"></div>

						<div>
							<a  class="btn btn-md btn-dark pull-right"><span>Update</span></a>
						</div>

						<div class="clear"></div>

					</div>
					<!-- end col -->

					<!-- Your Order -->
					<div class="col-md-4">
						<div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
							<h2 class="heading uppercase bottom-line full-grey">Photo</h2>
							
							
						</div>
					</div>
					<!-- end order review -->
				</form>

			</div>
			<!-- end ecommerce -->

		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end checkout -->