<!-- Cart -->
<section class="section-wrap shopping-cart">
    <div class="container relative">
        <div class="row">
            <h2 class="heading relative uppercase bottom-line full-grey mb-30">Job Seekers Status</h2>
            <div class="col-md-12">
                <div class="table-wrap mb-30">
                    <table class="shop_table prior_job_table cart table">
                        <thead>
                            <tr>
                                <!--<th class="product-name" >Image</th>-->
                                <!-- <th class="col-lg-2">Position Id</th> -->
                                <th class="col-lg-2">Position</th>
                                <th class="col-lg-2">Status</th>
                                <th class="col-lg-2">Date</th>
                                <th class="col-lg-2">Hourly Pay</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let offer of pagedItems">
                                <!--<td class="product-thumbnail">
                          <a>
                            <img src="assets/img/Photos/user.png" alt="" height="75px">
                          </a>
                        </td>-->
                                <!-- <td class="col-lg-2">
                                    {{offer.Position_id._id}}
                                </td> -->
                                <td class="col-lg-2">
                                    {{offer.Position_id}}
                                </td>
                                <td class="col-lg-2">
                                    <span *ngIf="offer.Status === 'HIRED'">{{offer.Status}}</span>
                                    <span *ngIf="offer.Status === 'ACCEPTED'">Need to RTW</span>
                                </td>
                                <td class="col-lg-2">
                                    {{offer.Availability_id.Date | date: 'dd/MM/yyyy'}}
                                </td>
                                <td class="col-lg-2">
                                    ${{offer.JS_id.Hourly_Pay}}
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <!-- pager -->
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}" class="static-page">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}" class="static-page">
                            <a (click)="setPage(pager.currentPage - 1)">Prev</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="static-page">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="static-page">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>


            </div>
            <!-- end col -->
        </div>
        <!-- end row -->



    </div>
    <!-- end container -->
</section>
<!-- end cart -->