			<!-- Cart -->
			<section class="section-wrap shopping-cart">
          <div class="container relative">
            <div class="row">
                <h2 class="heading relative uppercase bottom-line full-grey mb-30">Prior Job Offers</h2>          
              <div class="col-md-12">
                <div class="table-wrap mb-30">
                  <table class="shop_table prior_job_table cart table">
                    <thead>
                      <tr>
                        <th class="product-name" >Image</th>
                        <th class="product-name" >Position Id</th>
                        <th class="product-price">Name</th>
                        <th class="product-quantity">Hired</th>
                        <th class="product-subtotal" colspan="2">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart_item">
                        <td class="product-thumbnail">
                          <a>
                            <img src="assets/img/Photos/user.png" alt="" height="75px">
                          </a>
                        </td>
                        <td class="product-name">
                          <a>A8D9D99D</a>
                          <ul>
                            <!-- <li>Texture: Yes</li> -->
                            <!-- <li>Color: White</li> -->
                          </ul>
                        </td>
                        <td class="product-price">
                          <span class="amount">tyler durden</span>
                        </td>
                        <td class="product-quantity">
                          <div class="quantity buttons_added">
                            Didn't Hire
                          </div>
                        </td>
                        <td class="product-subtotal">
                          <span class="amount">25/07/2017</span>
                        </td>
                        <td class="product-remove">
                          <a class="remove" title="Remove this item">
                            <i class="ui-close"></i>
                          </a>
                        </td>
                      </tr>
  
                      <tr class="cart_item">
                        <td class="product-thumbnail">
                          <a >
                            <img src="assets/img/Photos/user.png" alt="" height="75px">
                          </a>
                        </td>
                        <td class="product-name">
                          <a>A22S7HH8</a>
                          <ul>
                            <!-- <li>Texture: Yes</li> -->
                            <!-- <li>Color: Black</li> -->
                          </ul>
                        </td>
                        <td class="product-price">
                          <span class="amount">Brad Pit</span>
                        </td>
                        <td class="product-quantity">
                          <div class="quantity buttons_added">
                            Hired
                          </div>
                        </td>
                        <td class="product-subtotal">
                          <span class="amount">28/07/2017</span>
                        </td>
                        <td class="product-remove">
                          <a  class="remove" title="Remove this item">
                            <i class="ui-close"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="cart_item">
                        <td class="product-thumbnail">
                          <a>
                            <img src="assets/img/Photos/user.png" alt="" height="75px">
                          </a>
                        </td>
                        <td class="product-name">
                          <a>A18S5HH8</a>
                          <ul>
                            <!-- <li>Texture: Yes</li> -->
                            <!-- <li>Color: Black</li> -->
                          </ul>
                        </td>
                        <td class="product-price">
                          <span class="amount">Virat Kohli</span>
                        </td>
                        <td class="product-quantity">
                          <div class="quantity buttons_added">
                            Searched
                          </div>
                        </td>
                        <td class="product-subtotal">
                          <span class="amount">05/01/2017</span>
                        </td>
                        <td class="product-remove">
                          <a class="remove" title="Remove this item">
                            <i class="ui-close"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
  
  
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
  

  
          </div>
          <!-- end container -->
        </section>
        <!-- end cart -->
  