.prior_job_table thead tr{
    background-color: #333;
    padding:15px 25px;
    color:#FFF
}

.prior_job_table thead tr th,tbody td{
    padding:15px 25px;
}
.shop_table td.product-name{
    width: auto !important;
}