			<!-- 404 -->
<section class="section-wrap">
  <div class="container">
    <div class="row">
      <div class="container-fluid ">

        <div class="col-sm-6 col-sm-offset-3 forms-container">

          <h3>Change Password</h3>
          <div class="form-box-pad">
            <form name="forgotPasswordForm" #forgotPasswordForm = 'ngForm' novalidate>
              <label for="pwd">New Password:</label>
              <input name="newPassword" type="password" placeholder="New Password" [(ngModel)]='resetPassword.newPassword' minlength="8" #newPassword = 'ngModel' required>
              <div  *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" class="error">
                <div [hidden]="!newPassword.errors.required">Please Enter password</div>
                <div [hidden]="!newPassword.errors.minlength">Password length should be more than 8 </div>
              </div>

              <label for="pwd">Confirm Password:</label>
              <input name="confirmPassword" type="password" placeholder="Confirm Password " [(ngModel)]='resetPassword.confirmPassword' #confirmPassword = 'ngModel' validateEqual="password" (ngModelChange)="onChange($event)" [ngClass]="{'mismatchError': mismatched}" minlength="8" maxlength="resetPassword.newPassword.length" required>
              <div *ngIf = "mismatched" class="error">Password mismatched</div>
              <div class="container-fluid">
                <div class="row">
                  <button class="btn btn-md btn-stroke pull-right" [disabled] = "(!forgotPasswordForm.valid) || mismatched" (click)="submit()"><span>Change Password?</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        <!-- end 404 -->