<!-- Preloader -->
<simple-notifications [options]="options"></simple-notifications>
<!-- <simple-notifications [options]="optionsBottom"></simple-notifications> -->
<main class="main-wrapper">
    <app-top-nav></app-top-nav>

    <div class="content-wrapper oh">

        <!-- main content -->
        <router-outlet>
            <span *ngIf="showLoader" class="loading"></span>
        </router-outlet>


        <app-footer></app-footer>

    </div>
    <!-- end content wrapper -->
</main>
<!-- end main wrapper -->