<div class="col-md-8 col-md-offset-2 calendar">
    <p-schedule [events]="events" [header]="header" [defaultDate]="calendarminDate" [eventLimit]="4" [editable]="true" (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>
</div>

<p-dialog header="Availability Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}" [style]="{'overflow':'visible'}" [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <!-- <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="vin"></label></div>
      <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
    </div> -->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="start">Start</label>
            </div>
            <div class="ui-grid-col-8">
                <p-calendar [(ngModel)]="event.start" dataType="date" class="checkbox"></p-calendar>
            </div>
        </div>
        <!-- <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="end">End</label></div>
      <div class="ui-grid-col-8">
        <p-calendar [(ngModel)]="event.end" dateFormat="yy-mm-dd" dataType="string" class="checkbox"></p-calendar>
      </div>
    </div> -->
        <div class="ui-grid-row" *ngIf="!event.allDay">
            <div class="ui-grid-col-6">
                <label for="end">Time slot1</label>
                <select class="form-control" [(ngModel)]="startTime" (ngModelChange)="setEndTime(startTime)">
          <option *ngFor="let time of startTimes" [ngValue]="time.value">{{time.name}}</option>
        </select>
            </div>
            <div class="ui-grid-col-6">
                <label for="end" style="visibility:hidden;">endTime</label>
                <select class="form-control" [(ngModel)]="endTime" [disabled]="!endTime" (ngModelChange)="setStarttime(endTime)">
          <option *ngFor="let time of endTimes" [ngValue]="time.value">{{time.name}}</option>
        </select>
            </div>
        </div>
        <!-- <div class="ui-grid-row" *ngIf="!event.allDay">
            <div class="ui-grid-col-6">
                <label for="end">Time slot2</label>
                <select class="form-control" [(ngModel)]="startTime1" (ngModelChange)="setEndTime1(startTime1)" [disabled]="!endTime">
          <option [ngValue]=""></option>
          <option *ngFor="let time of startTimes1" [ngValue]="time.value">{{time.name}}</option>
        </select>
            </div>
            <div class="ui-grid-col-6">
                <label for="end" style="visibility:hidden;">End Time</label>
                <select class="form-control" [(ngModel)]="endTime1" [disabled]="!startTime1">
          <option [ngValue]=""></option>
          <option *ngFor="let time of endTimes1" [ngValue]="time.value">{{time.name}}</option>
        </select>
            </div>
        </div> -->
        <!-- <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
      <div class="ui-grid-col-8">
        <p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox>
      </div>
    </div> -->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="allweek">All Week</label>
            </div>
            <div class="ui-grid-col-8">
                <p-checkbox [(ngModel)]="event.allWeek" binary="checkbox" (ngModelChange)="setWeek($event)"></p-checkbox>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="allmonth">Repeat All {{repeatDay}}</label>
            </div>
            <div class="ui-grid-col-8">
                <p-checkbox [(ngModel)]="event.allMonth" binary="checkbox" (ngModelChange)="setMonth($event)"></p-checkbox>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="deleteEvent(event.id)" label="Delete" *ngIf="deleteEventStatus"></button>
            <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>