<div class="container-fluid">
	<div class="col-lg-3">
		<section class="page-title text-center bg-light searchjobseeker-section">
			<h2 class="heading relative uppercase bottom-line full-grey mb-30">Search Job Seekers</h2>
			<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
							<label for="billing_address_1" class="pull-left">Date
									<abbr class="required" title="required">*</abbr>
								</label>
								<p class="form-row form-row-wide ">
									<p-calendar [(ngModel)]="value" dateFormat="yy-mm-dd" dataType="string" [minDate] = 'minDate'></p-calendar>
								</p>
						</div>
				<div class="col-sm-10 col-sm-offset-1">
					<label for="billing_address_1" class="pull-left">Position
							<abbr class="required" title="required">*</abbr>
						</label>
						<p class="form-row form-row-wide ">
							<select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state" rel="calc_shipping_state">
								<option *ngFor="let Position of Positions">{{Position.Position_Id}}</option>
							</select>
						</p>
				</div>
				<div class="col-sm-10 col-sm-offset-1">
						<label for="billing_address_1" class="pull-left">HoursGuarnteed
							<abbr class="required" title="required">*</abbr>
						</label>
					<p class="form-row form-row-wide">
						<input type="text" class="input-text" value placeholder="No. of hours" name="calc_shipping_state" id="calc_shipping_state">
					</p>
				</div>
				<div class="col-sm-10 col-sm-offset-1">
						<label for="billing_address_1" class="pull-left">Pay Requested
								<abbr class="required" title="required">*</abbr>
							</label>
					<p class="form-row form-row-wide">
						<input type="text" class="input-text" value placeholder="Pay Reuested" name="calc_shipping_postcode" id="calc_shipping_postcode">
					</p>
				</div>
				<div class="col-sm-10 col-sm-offset-1">
						<label for="billing_address_1" class="pull-left">Distance
								<abbr class="required" title="required">*</abbr>
							</label>
							<p class="form-row form-row-wide ">
								<select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state" rel="calc_shipping_state">
									<option value="VG">Select distance</option>
									<option value="VI">10</option>
									<option value="WF">20</option>
									<option value="EH">30</option>
									<option value="YE">40</option>
									<option value="ZM">50</option>
									<option value="ZW">60</option>
								</select>
							</p>
				</div>
			</div>
		</section>
	</div>
	<div class="col-lg-9 jobseeeker-section">
			<h2 class="heading relative uppercase bottom-line full-grey mb-30">Job Seekers</h2>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap mb-30">
						<table class="shop_table cart table">
							<thead>
								<tr>
									<th class="product-name" colspan="2">Position</th>
									<th class="product-price">Hourly Rate</th>
									<th class="product-quantity">Experience</th>
									<th class="product-subtotal" colspan="2">Zip Code</th>
								</tr>
							</thead>
							<tbody>
								<tr class="cart_item">
									<td class="product-thumbnail">
										<a >
											<img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="">
										</a>
									</td>
									<td class="product-name">
										<a ><b>Position Name</b></a>
										<ul>
											<li>Available</li>
											<li><b>From:</b> 8:00</li>
											<li><b>To:</b> 1:00</li>
										</ul>
									</td>
									<td class="product-price">
										<span class="amount">$1250</span>
									</td>
									<td class="product-quantity">
										<div class="quantity buttons_added">
											<input type="number" step="1" min="0" value="1" title="Qty" class="input-text qty text">
										</div>
									</td>
									<td class="product-subtotal">
										<span class="amount">53558</span>
									</td>
									<td class="product-remove">
										<a class="remove" title="Remove this item">
											<i class="ui-close"></i>
										</a>
									</td>
								</tr>
								<tr class="cart_item">
										<td class="product-thumbnail">
											<a >
												<img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="">
											</a>
										</td>
										<td class="product-name">
											<a >Position Name</a>
											<ul>
												<li>Available</li>
												<li><b>From:</b> 8:00</li>
												<li><b>To:</b> 1:00</li>
											</ul>
										</td>
										<td class="product-price">
											<span class="amount">$1250</span>
										</td>
										<td class="product-quantity">
											<div class="quantity buttons_added">
												<input type="number" step="1" min="0" value="1" title="Qty" class="input-text qty text">
	
											</div>
										</td>
										<td class="product-subtotal">
											<span class="amount">53558</span>
										</td>
										<td class="product-remove">
											<a class="remove" title="Remove this item">
												<i class="ui-close"></i>
											</a>
										</td>
									</tr>

							</tbody>
						</table>
					</div>



				</div>
			</div>
	</div>
</div>