<!-- Cart -->
<section class="section-wrap shopping-cart">
    <div class="container relative">
        <div class="row">
            <form name="paymentForm" #paymentForm="ngForm" novalidate>
                <div class="col-md-6 shipping-calculator-form">
                    <h2 class="heading relative uppercase bottom-line full-grey mb-30">Billing Address</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="input-text" placeholder="Billing name" value name="billingName" id="billing_address_1" [(ngModel)]="payment.Billing_Name" required>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="input-text" placeholder="Street address" value name="billing_address_1" id="billing_address_1" [(ngModel)]="payment.street" required>
                            <input type="text" class="input-text" placeholder="Apartment, suite, unit etc. (optional)" value name="billing_address_2" id="billing_address_2" required>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="input-text" placeholder="Town / City" value name="billing_city" id="billing_city" [(ngModel)]="payment.City" required>

                        </div>
                        <div class="col-md-4">
                            <select name="User_State" id="User_State" class="country_to_state country_select" title="State *" [(ngModel)]="payment.State" required>
                <option value="" disabled selected>State</option>
                <option *ngFor="let state of statesList" [attr.value]="state.key">{{state.name}}</option>
              </select>
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="input-text" placeholder="Postcode" value name="billing_postcode" id="billing_postcode" [(ngModel)]="payment.Zip_Code" required>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="input-checkbox" name="checkbox" id="checkbox2" value="2" (change)="useMyAddress($event)" required>
                        <span>Use My Address</span>
                    </div>

                </div>
                <!-- end col shipping calculator -->
                <div class="col-md-6 shipping-calculator-form">
                    <h2 class="heading relative uppercase bottom-line full-grey mb-30">Card Details</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="input-text" placeholder="Name On Card" value name="nameOnCard" id="billing_address_1" [(ngModel)]="payment.Billing_Name" required>
                        </div>
                        <div class="col-md-12">
                            <div class="col-sm-6 col-xs-12 footer-payment-systems text-right sm-text-right mt-sml-10 pull-right">
                                <!--<i class="fa fa-cc-paypal"></i>-->
                                <i class="fa fa-cc-visa" [ngClass]="{active: cardType=='Visa'}"></i>
                                <i class="fa fa-cc-mastercard" [ngClass]="{active: cardType=='Mastercard'}"></i>
                                <i class="fa fa-cc-discover" [ngClass]="{active: cardType=='Discover'}"></i>
                                <i class="fa fa-cc-amex" [ngClass]="{active: cardType=='AMEX'}"></i>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="number" class="input-text" placeholder="Card number" value name="cardNumber" id="cardNumber" [(ngModel)]="payment.Card_Nr" pattern="^$|^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})?"
                                (change)="GetCardType(payment.Card_Nr)" #cardNumber="ngModel" required>
                            <div *ngIf="cardNumber.errors && (cardNumber.dirty || cardNumber.touched)" class="error">
                                <div [hidden]="!cardNumber.errors.required">Card number is required</div>
                                <div [hidden]="!cardNumber.errors.pattern">Enter a valid card Number of 16 digits</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <label>Expiry Month</label>
                                    <select name="billing_country" id="billing_country" class="country_to_state country_select pull-left" title="Country *" [(ngModel)]="payment.Expiration_Month" required>
                                        <option value=1>01</option>
                                        <option value=2>02</option>
                                        <option value=3>03</option><option value=4>04</option><option value=5>05</option>
                                        <option value=6>06</option><option value=7>07</option><option value=8>08</option>
                                        <option value=9>09</option><option value=10>10</option><option value=11>11</option>
                                        <option value=12>12</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <label>Expiry Year</label>
                                    <select name="billing_country" placeholder="MM" id="billing_country" class="country_to_state country_select pull-right" title="Country *" [(ngModel)]="payment.Expiration_Year" required>
                                        <option value=17>17</option>
                                        <option value=18>18</option><option value=19>19</option><option value=20>20</option>
                                        <option value=21>21</option><option value=22>22</option><option value=23>23</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <label>Card Cvv</label>
                                    <input type="number" class="input-text" placeholder="Cvv" [(ngModel)]="payment.cvv" name="cvv" id="billing_postcode" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                        <h2><span>Total Payment: </span><span>$10</span></h2>
                        <div class="actions">
                            <button class="btn btn-md btn-dark pull-right" (click)="makePayment()" [disabled]="!paymentForm.form.valid"><span>Proceed to Payment</span></button>
                        </div>
                    </div>
                </div>

                <!-- end col cart totals -->
            </form>
        </div>
        <!-- end row -->


    </div>
    <!-- end container -->
</section>
<!-- end cart -->