			<!-- 404 -->
<section class="section-wrap">
  <div class="container">
    <div class="row">
      <div class="container-fluid ">

        <div class="col-sm-6 col-sm-offset-3 forms-container">

          <h3>Change Password</h3>
          <div class="form-box-pad">
            <form>


              <label for="pwd">Old Password:</label>
              <input name="password" id="password" type="password" placeholder="Password ">
          
              <label for="pwd">New Password:</label>
              <input name="password" id="password" type="password" placeholder="Password ">

              <label for="pwd">Confirm Password:</label>
              <input name="password" id="password" type="password" placeholder="Password ">


              <div class="container-fluid">
                <div class="row">
                  <a class="btn btn-md btn-stroke pull-right"><span>Change Password?</span></a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        <!-- end 404 -->