.forms-container-heading{
    background-color:#00394E !important;
    margin:0px;
    padding:8px 15px;
}
.forms-container-heading h3 {
    color:#fff;
}
.preview_image{
    margin:20px 30px; 
}
.forms-container-heading h3 {
    margin-bottom: 0px;
    font-weight: normal;
}