			<!-- 404 -->
			<section class="section-wrap">
          <div class="container">
  
            <div class="row">
  
  
  
  
              <div class="container-fluid ">
  
                <div class="col-sm-6 forms-container">
  
                  <h3>Login</h3>
                  <div class="form-box-pad">
                    <p>If you have an account, sign in with your e-mail address.</p>
                    <form>
  
                      <label for="username">Username</label>
                      <input name="text" type="text" placeholder="Username">
  
  
  
                      <label for="pwd">Password:</label>
                      <input name="password" id="password" type="password" placeholder="Password ">
  
                      <div class="checkbox">
                        <input type="checkbox" class="input-checkbox" name="checkbox" id="checkbox2" value="2">
                        <label for="rememberme">Remember Me</label>
                      </div>
  
                      <div class="container-fluid">
                        <div class="row">
                          <a href="#" class="btn btn-md btn-dark pull-left"><span>Login</span></a>
  
                          <a href="#" class="btn btn-md btn-stroke pull-right"><span>Forgot Password?</span></a>
                        </div>
                      </div>
  
                    </form>
  
                  </div>
  
  
                </div>
  
                <div class="col-sm-6 forms-container">
                  <h3>Register</h3>
                  <div class="form-box-pad">
                    <p>If you dont have an account, register now.</p>
                    <form>
  
                      <label for="email">Email address:</label>
                      <input name="text" type="email" placeholder="Email address">
  
                      <label for="username">Username</label>
                      <input name="text" type="text" placeholder="Username">
  
                      <label for="pwd">Password:</label>
                      <input name="password" id="password" type="password" placeholder="Password ">
  
  
  
                      <div class="container-fluid">
                        <div class="row">
                          <a href="#" class="btn btn-md btn-dark "><span>Register</span></a>
  
  
                        </div>
                      </div>
  
                    </form>
  
                  </div>
                </div>
  
  
  
  
              </div>
  
  
  
            </div>
  
          </div>
        </section>
        <!-- end 404 -->
  
  