.forms-container-heading {
    background-color: #00394E !important;
    margin: 0px;
    padding: 8px 15px;
}

.forms-container-heading h3 {
    color: #fff;
}

.preview_image {
    margin: 20px 30px;
}

.forms-container-heading h3 {
    margin-bottom: 0px;
    font-weight: normal;
}

.row.padding-top {
    padding-top: 17.9%;
}

.form-box-pad {
    min-height: 630px !important;
}

.work-info-padding {
    margin-top: 15%;
}

.button-level {
    margin-top: 7%;
}

.uploadImage {
    background-color: #fff;
    border: 2px solid #00394E;
    /* Green */
    border: none;
    color: 00394E;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.file {
    border: 1px solid #ccc;
    padding: 5px;
    background: #ccc;
}